extends layout
block content
  
  //h4= title
  div(class='mdl-card mdl-shadow--8dp' style='margin: auto; margin-top: 3%;')
    div(class="mdl-card__title")
     p(class="mdl-card__title-text") Введите данные:    
    form(name='mainForm' method='POST' action='/meter' onsubmit="return validateForm()") 
      div.form-group(class="mdl-card__actions mdl-card--border")
        div(class="mdl-textfield mdl-js-textfield")          
          label(class="mdl-textfield__label" for='meter_id') Номер счётчика...
          input#meter_id.form-control(class="mdl-textfield__input" pattern="-?[0-9]*(\.[0-9]+)?" type='text' name='meter_id')  
          span(class="mdl-textfield__error") Номер не должен содержать букв!
        br          
        div(class="mdl-textfield mdl-js-textfield")
          label(for="start" class="mdl-textfield__label") Начало периода...
          input#start(type="text" name='start_date' class="mdl-textfield__input")
        br
        div(class="mdl-textfield mdl-js-textfield")
          label(for="end" class="mdl-textfield__label") Конец периода...
          input#end(type="text" name='end_date' class="mdl-textfield__input")      
        button.btn.btn-primary(type='submit' class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" style='magrin: auto;') Смотреть
    script.
      var startDate,
          endDate,
          updateStartDate = function() {
              startPicker.setStartRange(startDate);
              endPicker.setStartRange(startDate);
              endPicker.setMinDate(startDate);
          },
          updateEndDate = function() {
              startPicker.setEndRange(endDate);
              startPicker.setMaxDate(endDate);
              endPicker.setEndRange(endDate);
          },
          startPicker = new Pikaday({
              field: document.getElementById('start'),
              minDate: new Date(2015, 11, 01),
              maxDate: new Date(2020, 12, 31),
              onSelect: function() {
                  startDate = this.getDate();
                  updateStartDate();
              }
          }),
          endPicker = new Pikaday({
              field: document.getElementById('end'),
              minDate: new Date(),
              maxDate: new Date(2020, 12, 31),
              onSelect: function() {
                  endDate = this.getDate();
                  updateEndDate();
              }
          }),
          _startDate = startPicker.getDate(),
          _endDate = endPicker.getDate();
          if (_startDate) {
              startDate = _startDate;
              updateStartDate();
          }
          if (_endDate) {
              endDate = _endDate;
              updateEndDate();
          }
          function validateForm() {
            var x = document.forms["mainForm"]["meter_id"].value;
            var y = document.forms["mainForm"]["start_date"].value;
            var z = document.forms["mainForm"]["end_date"].value;
            if (x == "") {
              alert("Не указан номер счетчика!");
              return false;
            } 
            else if(y == ""){
              alert("Не указана начальная дата!");
              return false;
            }
            else if(z == ""){
              alert("Не указана конечная дата!");
              return false;
            }            
          }
= '\n'
  