doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://code.getmdl.io/1.2.1/material.deep_purple-purple.min.css')
    script(src='/stylesheets/material-design-lite/material.min.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/pikaday.css')
    script(src='/js/pikaday.js')
  body(style=' background-image: url("/img/sqare_04.png");')
    block content